<aside class="w-64 h-screen bg-white border-r border-gray-200 px-4 py-6">


    @for(item of sidebarItems; track item.label) {
    <div class="mt-3">
        <p class="sidebar-section">{{item.label}}</p>

        <ul class="space-y-1 mt-2">
            @for (nav of item.navs; track $index) {
            <li>
                <button (click)="setActive(nav.label, nav.route)" class="sidebar-item"
                    [ngClass]="{ 'sidebar-active': activeItem === nav.label }">
                    <i [class]="nav.icon"></i>
                    <span>{{nav.label}}</span>
                </button>
            </li>
            }
        </ul>
    </div>
    }




</aside>